version: "3.1"

services:
    traefik:
        image: "traefik:v2.4"
        command:
            - "--log.level=INFO"
            - "--api.insecure=true"
            - "--providers.docker=true"
            - "--providers.docker.exposedbydefault=false"
            - "--entrypoints.web.address=:80"
            - "--providers.docker.defaultRule=HostRegexp(`{_:{{ index .Labels \"com.docker.compose.service\" }}\\..*}`)"
        ports:
            - "${PUBLIC_PORT-80}:80"
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock:ro"
        labels:
            traefik.enable: "true"
            traefik.http.routers.traefik.rule: HostRegexp(`{_:traefik\..*}`)
            traefik.http.services.traefik.loadbalancer.server.port: 8080
    db:
        image: mariadb:latest
        environment:
            - MARIADB_ROOT_PASSWORD=root
            - MARIADB_DATABASE=netacadhu
        ports:
            - "3306:3306"
        volumes:
            - /var/lib/mysql
            - ./db:/docker-entrypoint-initdb.d
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        restart: always
        environment:
            PMA_HOST: "db"
            PMA_USER: "root"
            PMA_PASSWORD: "root"
            PMA_ARBITRARY: 1
        labels:
            traefik.enable: "true"
            traefik.http.routers.pma.rule: HostRegexp(`{_:pma\..*}`)
            traefik.http.services.pma.loadbalancer.server.port: 80
    frontend:
        build:
            context: frontend
        labels:
            traefik.enable: "true"
            traefik.http.routers.frontend.rule: HostRegexp(`{_:netacad\..*}`)
            traefik.http.services.frontend.loadbalancer.server.port: 80
    backend-laravel:
        build:
            context: backend-laravel
        env_file:
            - ./backend-laravel/.env
        volumes:
            - ./backend-laravel/app:/app/app
            - ./backend-laravel/config:/app/config
            - ./backend-laravel/database:/app/database
            - ./backend-laravel/routes:/app/routes
            - ./backend-laravel/storage:/app/storage
        environment:
            WEB_DOCUMENT_ROOT: /app/public
        labels:
            traefik.enable: "true"
            traefik.http.routers.backend-laravel.rule: HostRegexp(`{_:backend-laravel\..*}`)
            traefik.http.services.backend-laravel.loadbalancer.server.port: 80